# Byte-compiled / Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/
.blog/

# Django Secret Key
*.env

# Django Migrations
**/migrations/

# Media and static files
media/
featured_images/
staticfiles/

# IDE and system files
.vscode/
.DS_Store
*.log
*.swp
.idea/
*.swo
