# Byte-compiled / Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Django Secret Key
*.env

# Ignore compiled python files in migrations
**/migrations/*.pyc
**/migrations/__pycache__/

# BUT DO NOT IGNORE the migration folders themselves!

# Media and static files
media/
featured_images/
staticfiles/

# IDE and system files
.vscode/
.DS_Store
*.log
*.swp
.idea/
*.swo

# Coverage report
lcov/

pyrightconfig.json
