{% extends 'blog/layout.html' %}

{% block body %}
  
    {% if form.errors %}
      <div>
          <p>Please correct the following errors:</p>
          <ul>
              {% for field in form %}
                  {% for error in field.errors %}
                      <li>{{ field.label }}: {{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
      </div>
    {% endif %}
    <ul>
    <form method="post" class="create-post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    </ul>

{% endblock %}

